# logging
NOTIFICATION_BOT__LOGGING__LOG_LEVEL_NAME=INFO

# telegram bot
NOTIFICATION_BOT__BOT__TOKEN=abcdefg123456789
NOTIFICATION_BOT__BOT__ADMIN_ID=123456789

# postgres
NOTIFICATION_BOT__POSTGRES__HOST=localhost
NOTIFICATION_BOT__POSTGRES__DB=postgres
NOTIFICATION_BOT__POSTGRES__USER=postgres
NOTIFICATION_BOT__POSTGRES__PASSWORD=postgres
NOTIFICATION_BOT__POSTGRES__PORT=5432
